.contato {
    background-color: var(--branco);
    padding: 2em 1em;
}

.contato__titulo,
.contato__texto {
    background: var(--azul-degrade);
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contato__titulo {
    font-weight: 500;
    font-size: 18px;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0 1.5em 0;
}

.contato__email {
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url(/images/Email.svg) no-repeat;
    background-position: 1em;
    padding-left: 3.5em;
}

.contato__email:focus::placeholder {
    color: transparent;
    background: transparent;
    transition: 0.1s;
}

@media screen and (min-width: 1024px)  {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3em 1em;


    }
    .contato__descricao {
        width: 35%;
    }
    .contato__titulo {
        font-size: 24px;
    }

    .contato__texto {
        margin: 1.3em 0 0 0;
    }

    .contato__email {
        width: 35%;
    }
}