.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../images/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-icon {
    background-image: url(../images/MenuAberto.svg);
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

/* 
O (~) funciona como um 'if'
A leitura seria: "Se o input (com a classe 'container__botao') estiver marcado,
então aplique as seguintes definições ao ".lista__menu"
*/
.container__botao:checked ~ .lista__menu { 
    display: block;
}

.container__botao {
    display: none;
}

.lista__titulo,
.lista__item {
    background-color: var(--branco);
    padding: 1em;
}

.lista__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista__link {
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__titulo,
.opcoes,
.container__texto {
    display: none;
}


@media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        margin-top: 0.3em;
    }   
    
    .container__titulo {
        font-weight: 400;
        display: block;
    }
    
    .container__titulo--negrito {
        font-weight: 700;
    }
    
    .opcoes {
        display: flex;
        
    }
    
    .opcoes__botao:checked~.opcoes__rotulo > .opcoes__item {
        color: var(--branco);
    }

    .opcoes__botao:checked~.opcoes__rotulo {
        background: var(--azul-degrade);
    }

    .opcoes__item {
        padding: 2em 1em;
        text-transform: uppercase;
    }
    
    .lista__item:hover {
        background: var(--azul-degrade);
    }

    .lista__item:hover > .lista__link {
        -webkit-text-fill-color: var(--branco);
    }

    .opcoes__link {
        color: var(--preto);
    }
    
    .container__imagem--transparente,
    .cabecalho__menu-icon,
    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .lista__menu {
        display: block;
        width: auto;
        
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 0 3em;
        
    }
    
    .container__link {
        display: flex;
        align-items: center;
        color: var(--preto);
        
        margin-left: 2em;
    }

    .container__texto {
        display: block;
        font-size: 20px;
    }

    .opcoes {
        margin-right: auto;
        margin-left: 2em;   
    }
}